body {
    background: linear-gradient(to left, black, white);
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.maman {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.enfant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    height: 300px;
    width: 150px;
}

.enfant:first-child {
    background-color: yellow;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
}

nav {
    display: flex;
    background-color: gray;
    height: 100px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    color: white;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: lightgray;
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}