@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: linear-gradient(125deg, #984D38 5%, #181E41 60%);
    color: white;
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.divlogo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
}

.divlogo div {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divlogo span {
    font-size: 1rem;
}

.divmenu {
    margin-right: 5%;
}

.divmenu ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
    padding: 0px;
}

.divmenu ul li {
    cursor: pointer;
}

.divmenu ul li button {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 1rem;
}

/* MAIN CONTENT */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.p1 {
    text-align: center;
}

.imgjovanka {
    display: block;
    margin: 20px auto;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.divreseaux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 80px;
}

.divreseaux img {
    width: 8%;
    cursor: pointer;
}

.divsection1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.divsection1 div {
    width: 50%;
}

.divsection1g {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divsection1g img {
    width: 75%;
    border-radius: 0% 50% 50% 50%;
}

.divsection1d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.divsection1d h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    line-height: 180%;
}

.divsection1d p {
    width: 250px;
    font-weight: 500;
}

.traitblanc {
    width: 90%;
    height: 1px;
    background-color: gray;
    margin: 50px auto;
}